@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* src/index.css */

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #0499ad;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #006376;
  cursor: pointer;
}
